.wrapper {
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 /12%) 0px 2px 12px;
    border-radius: 8px;
    $max-height: calc((100vh - 96px - 60px) * 1vh);
    max-height: min($max-height, 734px);
}
